* {
  /* margin: 0;
  padding: 0;
  box-sizing: unset; */
  font-family: "Encode Sans Expanded", sans-serif;
}

#other {
  display: flex;
  justify-content: space-evenly;
}

.listItem {
  display: inline-block;
  width: auto;
  padding: 10px 20px;
  text-align: center;
}
